{
  "name": "shennong-dsh-profile",
  "private": true,
  "dependencies": {
    "@deepseek-ai/dsh-mcp-client": "__DSH_MCP_CLIENT_VERSION__"
  },
  "dsh": {
    "profile": {
      "bundles": [
        "@deepseek-ai/dsh-base",
        "@deepseek-ai/dsh-web-app"
      ]
    }
  }
}
